<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>

// window.addEventListener("popstate", (event) => {
//   alert(
//     `location: ${document.location}, state: ${JSON.stringify(event.state)}`,
//   );
// });
var btnarray=[6];
for(let i=0; i<btnarray.length; i++){
  btnarray[i]=i;
}    
console.log(btnarray);


      </script>


</head>
<body>
   <h1>앞뒤로가기 테스트</h1>
    
</body>
</html>